
.centrar{
  text-align: center;
}
.tamañoImagen{
  width: 60%;
  margin-bottom: 50px;
  margin-top: 20px;
}
.anchoDiv{
  width: 50%;
}
.flexible{
  display: flex;
}

.ancho{
  width: 50%;
}
.fondo{
  background: #91ABE5;
}
.fondoBlanco{
  background: white;
  margin: 20px;
}
/* .boton{
  background: #FFC105;
  border: none;
  height: 40px;
} */