#root{
  background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
display: flex;
flex-direction: column;
min-height: 100vh;
}

.centrar{
  text-align: center;
}
.tamañoImagen{
  width: 60%;
  margin-bottom: 50px;
  margin-top: 20px;
}
.anchoDiv{
  width: 50%;
}
.flexible{
  display: flex;
}

.ancho{
  width: 50%;
}

.fondoBlanco{
  background: white;
  margin: 20px 0px 20px 0px;
}
