.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.centrar{
  text-align: center;
}
.tamañoImagen{
  width: 60%;
  margin-bottom: 50px;
  margin-top: 20px;
}
.anchoDiv{
  width: 50%;
}
.flexible{
  display: flex;
}
.borde{
  border: 5px solid red;
  border-radius: 50px;
}
.borde1{
  border: 5px solid orange;
  border-radius: 50px;
}
.ancho{
  width: 50%;
}
.fondo{
  background: #91ABE5;
}
.fondoBlanco{
  background: white;
  margin: 20px;
}
.boton{
  background: #FFC105;
  border: none;
  height: 40px;
}